[submodule "wasmiot-orchestrator"]
	path = wasmiot-orchestrator
	url = git@github.com:LiquidAI-project/wasmiot-orchestrator.git
[submodule "wasmiot-supervisor"]
	path = wasmiot-supervisor
	url = git@github.com:LiquidAI-project/wasmiot-supervisor.git
