
[submodule "rust-supervisor"]
	path = rust-supervisor
	url = git@github.com:LiquidAI-project/supervisor-rust-port.git
[submodule "orchestrator-rust-port"]
	path = orchestrator-rust-port
	url = git@github.com:LiquidAI-project/orchestrator-rust-port.git
